name: CI Workflow - Build & Test Debian Package

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build-and-test-deb:
    runs-on: ubuntu-latest

    env:
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_HOST: ${{ secrets.DB_HOST }}
      DB_PORT: ${{ secrets.DB_PORT }}
      DB_NAME: ${{ secrets.DB_NAME }}

    steps:
    # Step 1: Check out the repository
    - name: Checkout repository
      uses: actions/checkout@v3

    # Step 2: Install required tools
    - name: Install packaging and systemd tools
      run: sudo apt-get update && sudo apt-get install -y dpkg-dev systemd python3 python3-pip

    # Step 3: Build .deb package
    - name: Build .deb package
      run: |
        mkdir -p debian_package/{DEBIAN,opt/arculus-devops-challenge}
        pip install --target=debian_package/opt/arculus-devops-challenge -r requirements.txt
        cp -r apps tests debian_package/opt/arculus-devops-challenge/
        echo "Package: arculus-devops-challenge
              Version: 1.0.0
              Section: base
              Priority: optional
              Architecture: all
              Maintainer: Your Name <your.email@example.com>
              Description: Flask app with /health and /orders endpoints" > debian_package/DEBIAN/control
        dpkg-deb --build debian_package

    # Step 4: Test .deb package installation
    - name: Test .deb package installation
      run: |
        sudo dpkg -i debian_package.deb
        sudo apt-get install -f -y
        if [ -d "/opt/arculus-devops-challenge" ]; then 
          echo "App installed correctly"; 
        else 
          echo "App installation failed"; 
          exit 1; 
        fi
        if [ -f "/opt/arculus-devops-challenge/arculus-devops.service" ]; then
          echo "Systemd file exists";
        else
          echo "Systemd file missing";
          exit 1;
        fi

    # Step 5: Upload the .deb file as an artifact
    - name: Upload .deb package
      uses: actions/upload-artifact@v4
      with:
        name: arculus-devops-challenge.deb
        path: debian_package.deb