name: deploy-to-kind

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Dockerfile'
      - 'src/**'
      - 'terraform/**'
      - 'k8s/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_PAT }}

    - name: Build and push image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/arculus-devops-challenge:${{ github.sha }}

    - name: Install Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.14.4

    - name: Configure kubeconfig
      run: |
        echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > $GITHUB_WORKSPACE/kubeconfig
        export KUBECONFIG=$GITHUB_WORKSPACE/kubeconfig
      shell: bash

    - name: Terraform init
      working-directory: ./terraform
      run: terraform init

    - name: Terraform apply
      working-directory: ./terraform
      env:
        KUBECONFIG: $GITHUB_WORKSPACE/kubeconfig
      run: terraform apply -auto-approve -var="image_tag=${{ github.sha }}" -var="namespace=orders"